name: network
description: Network layer - API client and HTTP utilities for GOGOMARKET.
version: 1.0.0
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter
  core:
    path: ../core
  dio: ^5.4.0
  flutter_secure_storage: ^9.0.0
  socket_io_client: ^3.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
  mocktail: ^1.0.3
