name: network
description: API Client and Networking logic for GOGOMARKET apps.
version: 1.0.0
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter
  dio: ^5.4.3+1
  core:
    path: ../core

dev_dependencies:
  flutter_test:
    sdk: flutter
